<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839779453863-20o39farl1ko97meqeua37krcmm0vhcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839779453863-20o39farl1ko97meqeua37krcmm0vhcc</string>
	<key>API_KEY</key>
	<string>AIzaSyDDHXznzCXsxkM3hkBWy_fCm1rYzABfaps</string>
	<key>GCM_SENDER_ID</key>
	<string>839779453863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.william.FirebaseLog</string>
	<key>PROJECT_ID</key>
	<string>authentification-ef8aa</string>
	<key>STORAGE_BUCKET</key>
	<string>authentification-ef8aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839779453863:ios:0cca4f5235137b0e</string>
	<key>DATABASE_URL</key>
	<string>https://authentification-ef8aa.firebaseio.com</string>
</dict>
</plist>